.repolistContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 2.5px;
  gap: 15px;
}

.repoContainer {
  text-align: left;
  background: #d4d4d0;
  padding-left: 5px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 4px;
}
.repoContainer:hover {
  background: #f0f0ef;
}
.repoHeaderContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  flex-direction: row;
}
.repoHeaderContainer > a {
  font-size: 1.25rem;
}
.repoStars {
  margin-left: 15px;
  display: flex;
}
